body {
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#dialogBox {
    margin: 20px;
}

#rpsButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

button {
    margin-left: 20px;
    margin-right: 20px;
    background-color: beige;
    border-radius: 20%;
    padding: 10px;
}

#scoreDisplay {
    display: flex;
    flex-direction: row;
}

#playerScoreDisplay {
    margin-right: 20px;
}

#computerScoreDisplay {
    margin-right: 20px;
}

#choiceDisplay {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#playChoiceDisplay {
    margin-right: 20px;
}

#compChoiceDisplay {
    margin-left: 20px;
}